* {
    width: 100%;
    margin: 0;
    padding: 0.5%;
}

.titulo{
    color: #8a2be2

}

.fondo{
    background: #d4a2be;
    }

.imagen{
        width: 30%;
        margin: 100;
        padding: 0.25%;
}
